<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Condições Climáticas</title>
</head>
<body>
    <div class="weather-container">
        <div class="header">
            <a href="index2.html">Sair</a>
        </div>
        <h2>Condições Climáticas</h2>
        <div class="weather-info">
            <p id="weather">Tempo:</p>
            <p id="pressure">Pressão:</p>
            <p id="humidity">Humidade:</p>
            <p id="precipitation">Precipitação:</p>
            <p id="weather-condition">Condição Climaticas:</p>
        </div>
    </div>
</body>
<script src="index3.js"></script>
</html>
